<!DOCTYPE html>
<html lang="en">

<head>
    <head th:replace="~{@{includes/head}}"></head>
</head>

<body class="index-page">


<body th:replace="~{@{includes/header}}"></body>

<main class="main">
    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Detail</h2>
            <p>Posts below are things people are searching for!</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="isotope-layout">

                title : <p class="font_post_title"></p>
                type : <p class="font_post_type"></p>
                cate : <p class="font_post_cate"></p>
                location : <p class="font_post_location"></p>
                content : <p class="font_post_content"></p>


                <div class="row gy-4" data-aos="fade-up" data-aos-delay="200" id="div_imgs">

                </div>

                <script id="list_info_post" type="text/x-handlebars-template">
                    {{#resultData_post}}
                    <div class="col-lg-4 col-md-6 portfolio-item">
                        <div class="portfolio-content h-100 m-b">
                            <img src="/image/{{url}}" class="img-fluid" alt="">
                        </div>
                    </div>
                    {{/resultData_post}}
                </script>
                <script type="text/javascript">
                    var list_info_post = $("#list_info_post").html();
                    var list_info_post_template = Handlebars.compile(list_info_post);
                </script>


            </div>

        </div>

    </section><!-- /Portfolio Section -->


</main>

<body th:replace="~{@{includes/footer}}"></body>
<body th:replace="~{@{includes/bottom}}"></body>

<script>
    $( document ).ready(function() {
        console.log( "ready!" );
        detail_post();
    });
    function detail_post(){

        //url에서 id값 추출해오기!
        let temp_url = window.location.href; // http://localhost:8080/post/detail/1?aerlael=222
        let split_temp_url = temp_url.split('/');
        let final_id = split_temp_url[split_temp_url.length - 1];
        let split_q = final_id.split("?");
        if(split_q.length > 0){
            final_id = split_q[0];
        }

        $.ajax({
            url: "/api/post/detail",
            type: "GET",
            contentType : 'application/json; charset=utf-8',
            data: {
                id : final_id
            },
            cache: false,
            success: (obj_data, status, xhr)=>{
                let eachData = obj_data;
                //$(".font_post_id").val(eachData['id']);
                $(".font_post_title").html(eachData['title']);
                $(".font_post_content").html(eachData['content']);
                $(".font_post_location").html(eachData['location']);
                $(".font_post_cate").html(eachData['cate']);
                $(".font_post_type").html(eachData['type']);

                let imgs = eachData['imgs'];
                for(let each of imgs){

                    let tList = [];
                    tList.push(each);
                    $("#div_imgs").append(list_info_post_template({"resultData_post":tList}));
                }

            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }
</script>

</body>

</html>