<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>

</head>
<body>

perpage : <input id="input_perpage" type="number"/> <br/>

<div>POST SCROLL LIST</div>
<div id="div_list"></div>

<button onclick="list_post()">list</button>

<script>

    function listener_href(id){
        //alert(id);
        location.href = "/post/detail/" + id;
    }
    function list_post(){

        let cursor = null;
        let input_cursor = $(".input_cursor");
        if(input_cursor.length > 0){
            cursor = $(input_cursor[input_cursor.length - 1]).val();
        }

        $.ajax({
            url: "/api/post/scrollList",
            type: "GET",
            contentType : 'application/json; charset=utf-8',
            data: {
                deleted : null
                , name : null
                , phone : null
                , perpage : $("#input_perpage").val()
                , cursor : cursor
            },
            cache: false,
            success: (obj_data, status, xhr)=>{
                alert(JSON.stringify(obj_data));
                //$("#div_list").html("");
                let alist = obj_data;
                for(let each of alist){
                    //alert(each["id"]);
                    $("#div_list").append(
                      "<div onclick='listener_href("+each["id"]+")'>"+each["id"]+"//" + each["title"]
                        +"<input type='hidden' class='input_cursor' value='"+each["id"]+"'/>"
                        + "</div>"
                    );
                }
            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }
</script>
</body>
</html>