<!DOCTYPE html>
<html lang="en">

<head>
    <head th:replace="~{@{includes/head}}"></head>
</head>

<body class="index-page">

<script id="list_info_post" type="text/x-handlebars-template">
    {{#resultData_post}}
    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
        <div class="portfolio-content h-100">
            <img src="/image/{{img}}" class="img-fluid" alt="">
            <div class="portfolio-info">
                <h4>{{title}}</h4>
                <p>{{content}}</p>
                <a href="/post/detail/{{id}}" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
        </div>
        <input type='hidden' class='input_cursor' value='{{id}}'/>
    </div>
    {{/resultData_post}}
</script>
<script type="text/javascript">
    var list_info_post = $("#list_info_post").html();
    var list_info_post_template = Handlebars.compile(list_info_post);
</script>

<body th:replace="~{@{includes/header}}"></body>

<main class="main">
    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Found</h2>
            <p>Posts below are things people are searching for!</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="isotope-layout">

                <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                    <li data-filter="*" class="filter-active" onclick="listener_post_cate('')">All</li>
                    <li data-filter="*" class="filter-active" onclick="listener_post_cate('wallet')">wallet</li>
                    <li data-filter="*" class="filter-active" onclick="listener_post_cate('electronics')">electronics</li>
                </ul><!-- End Portfolio Filters -->
                <input type="hidden" id="search_post_cate" />
                <script>
                    function listener_post_cate(obj_cate){
                        $("#search_post_cate").val(obj_cate);
                        search_changed();
                    }
                </script>

                <div class="row gy-4" id="tbody_post_list">

                    <!--<div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
                        <div class="portfolio-content h-100">
                            <img src="/frontuser/assets/img/portfolio/books-3.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Books 3</h4>
                                <p>Lorem ipsum, dolor sit amet consectetur</p>
                                <a href="/frontuser/assets/img/portfolio/books-3.jpg" title="Branding 3" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                            </div>
                        </div>
                    </div>-->
                    <!-- End Portfolio Item -->

                </div>
                <button onclick="list_post()">MORE</button>
            </div>

        </div>

    </section><!-- /Portfolio Section -->


</main>

<body th:replace="~{@{includes/footer}}"></body>
<body th:replace="~{@{includes/bottom}}"></body>

<script>
    $( document ).ready(function() {
        list_post()
    });

    function search_changed(){
        $("#tbody_post_list").html("");
        list_post();
    }

    function list_post(){

        let cursor = null;
        let input_cursor = $(".input_cursor");
        if(input_cursor.length > 0){
            cursor = $(input_cursor[input_cursor.length - 1]).val();
        }

        $.ajax({
            url: "/api/post/scrollList",
            type: "GET",
            contentType : 'application/json; charset=utf-8',
            data: {
                deleted : null
                , name : null
                , phone : null
                , perpage : 6
                , cursor : cursor
                , type : 'found'
                , cate : $("#search_post_cate").val()
            },
            cache: false,
            success: (obj_data, status, xhr)=>{
                //alert(JSON.stringify(obj_data));
                //$("#div_list").html("");
                let alist = obj_data;

                for(let each of alist){
                    let tList = [];
                    tList.push(each);
                    $("#tbody_post_list").append(list_info_post_template({"resultData_post":tList}));
                }
                /*
                for(let each of alist){
                    //alert(each["id"]);
                    $("#div_list").append(
                        "<div onclick='listener_href("+each["id"]+")'>"+each["id"]+"//" + each["title"]
                        +"<input type='hidden' class='input_cursor' value='"+each["id"]+"'/>"
                        + "</div>"
                    );
                }*/
            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }
</script>

</body>

</html>