<!DOCTYPE html>
<html lang="en">

<head>
    <head th:replace="~{@{includes/head}}"></head>
</head>

<body class="index-page">

<body th:replace="~{@{includes/header}}"></body>

<main class="main">

    <!-- Portfolio Section -->
    <section id="portfolio" class="portfolio section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>Lost & Found Posting</h2>
            <p>Posts below are things people are searching for!</p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="form-check">
                <input class="form-check-input" type="radio" name="type" id="type_lost" value="lost" checked>
                <label class="form-check-label" for="type_lost">
                    LOST
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="type" id="type_found" value="found">
                <label class="form-check-label" for="type_found">
                    FOUND
                </label>
            </div>

            <div class="form-group">
                <label for="create_post_title">Title</label>
                <input type="text" class="form-control" id="create_post_title"  placeholder="text...">
            </div>
            <div class="form-group">
                <label for="create_post_cate">Category</label>
                <select type="text" class="form-control" id="create_post_cate">
                    <option value="wallet">wallet</option>
                    <option value="electronics">electronics</option>
                </select>
            </div>
            <div class="form-group">
                <label for="create_post_location">Location</label>
                <input type="text" class="form-control" id="create_post_location"  placeholder="text...">
            </div>
            <div class="form-group">
                <label for="create_post_content">Memo</label>
                <textarea type="text" class="form-control" id="create_post_content"  placeholder="text..."></textarea>
            </div>

            <div class="form-group">
                <label for="input_file">Add Photo</label>
                <input type="file" class="form-control-file" id="input_file" onchange="readURLFile(this)" />
            </div>

            <div class="row gy-4" data-aos="fade-up" data-aos-delay="200" id="div_imgs">

            </div>

            <script id="list_info_post" type="text/x-handlebars-template">
                {{#resultData_post}}
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <div class="portfolio-content h-100 m-b">
                        <img src="/image/{{url}}" class="img-fluid" alt="">
                        <input class="input_post_imgs" type="hidden" value="{{url}}" alt="" />
                        <button type="button" class="btn btn-warning btn-sm" onclick="listener_delete_div(this)">X</button>
                    </div>
                </div>
                {{/resultData_post}}
            </script>
            <script type="text/javascript">
                var list_info_post = $("#list_info_post").html();
                var list_info_post_template = Handlebars.compile(list_info_post);
            </script>

            <script>
                function listener_delete_div(obj_this) {
                    $(obj_this).parent().parent().remove();
                }
                function readURLFile(input) {
                    if (input.files && input.files[0]) {
                        let reader = new FileReader();
                        reader.readAsDataURL(input.files[0]);
                        reader.onload = function(e) {
                            file_upload(input.files[0])
                        }
                    }
                }

                function file_upload(tempFile) {
                    let fileData = new FormData();
                    fileData.append("file", tempFile);

                    $.ajax({
                        url: "/api/upload",
                        type: "POST",
                        data: fileData ,
                        cache : false,
                        contentType : false,
                        processData : false,
                        success: (data, status, xhr)=>{

                            let each = {
                                url : data
                            };
                            let tList = [];
                            tList.push(each);
                            $("#div_imgs").append(list_info_post_template({"resultData_post":tList}));
                        },
                        error: (data)=>{
                            alert("error")
                        },
                    });
                }
            </script>

            <div class="form-group m-t">
                <button type="button" class="btn btn-primary btn-lg btn-block" onclick="create_post()">SUBMIT</button>
            </div>
        </div>

    </section><!-- /Portfolio Section -->



</main>

<body th:replace="~{@{includes/footer}}"></body>
<body th:replace="~{@{includes/bottom}}"></body>

<script>
    function create_post(){
        let mainImg = null;
        let input_post_imgs = $(".input_post_imgs");
        let imgs = [];
        for(let each of input_post_imgs){
            imgs.push($(each).val());
        }

        if(imgs.length > 0){
            mainImg = imgs[0];
        }
        $.ajax({
            url: "/api/post",
            type: "POST",
            contentType : 'application/json; charset=utf-8',
            data: JSON.stringify({
                type : $("input:radio[name='type']:checked").val()
                , cate : $("#create_post_cate").val()
                , title : $("#create_post_title").val()
                , location : $("#create_post_location").val()
                , content : $("#create_post_content").val()
                , img : mainImg
                , imgs : imgs
            }),
            cache: false,
            success: (obj_data, status, xhr)=>{
                //!!!
                alert(JSON.stringify(obj_data));

            },
            error: (obj_data, status, xhr)=>{
                alert("error!!");
                alert(JSON.stringify(obj_data));
            }
        });
    }
</script>

</body>

</html>