<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="/index" class="logo d-flex align-items-center">
            <h1 class="sitename">Rapid</h1>
        </a>

        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="/posting">Posting</a></li>
                <li><a href="/lost">Lost</a></li>
                <li><a href="/found">Found</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

    </div>
</header>